<!-- <div class="row">
  <button class="btn btn-primary d-inline-block col-2 col-sm-2 col-md-2" type="button">Button</button>
  <button class="btn btn-primary d-inline-block col-2 col-sm-2 col-md-2" type="button">Button</button>
</div> -->
<!-- <app-searchform></app-searchform> -->
<nav>
  <div class="container-fluid mt-3" style="text-align: right;">
    <button class="btn btn-outline-success " routerLink="/search">Search</button>
    <button class="btn btn-outline-success " routerLink="/">Favorites</button>
  </div>
</nav>
<router-outlet></router-outlet>
