<div  class="container-fluid mt-3" >
    <div id="details-div"  class="mx-auto col-12 col-md-10 col-lg-6 mt-5 ">
        <div id="details-eventname-div" style="min-height: 100px;">
            asdasd
        </div>
        <div >
            <mat-tab-group mat-align-tabs="center" backgroundColor="primary"  >
                <mat-tab label="Events" class="my-mat-tab">
                    <div style="min-height: 400px;">

                    </div>
                </mat-tab>
                <mat-tab label="Artist/Teams"  class="my-mat-tab">
                  <div id="carouselExample" class="carousel slide" style="min-height: 400px;">
                      <div class="carousel-inner">
                        <div class="carousel-item active">
                          xxxxxxxxxxx
                        </div>
                        <div class="carousel-item">
                          ssssssssssss
                        </div>
                        <div class="carousel-item">d
                          dddddddddddddddd
                        </div>
                      </div>
                      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                      </button>
                      <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                      </button>
                    </div>
                </mat-tab>
              
                <mat-tab label="Venue" class="my-mat-tab">
                    <div style="min-height: 400px;">

                    </div>
                </mat-tab>
              
              </mat-tab-group>
        </div>
        
    </div>
</div>


