#details-div {
  background-color: rgba(58, 58, 54, 0.7);
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
}

.my-mat-tab>div {
  min-height: 200px;
}

#details-eventname-div {
  background-color: rgba(45, 44, 45)
}

#bodyLeftStatusCode div {
  /* background-color: #f14b03; */
  border-radius: 6px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
}

#eventinfo>div {
  margin-top: 20px;
}

.circular-image {
  border-radius: 50%;
  width: 150px; /* Adjust the width according to your needs */
  height: 150px; /* Adjust the height according to your needs */
  object-fit: cover; /* To maintain the aspect ratio of the image */
}
.example-margin {
  margin: 0 10px;
}

.example-card {
  margin-bottom: 10px;
}
#up-of-artist-carousel{
  height: 100%;
}
::ng-deep .custom-spinner {
  width: 50px !important;
  height: 50px !important;
}
::ng-deep .custom-spotify {
  width: 50px !important;
  height: 50px !important;
}
::ng-deep .full-height {
  height: 100%;
}

#venueinfo > div{
  margin-top: 20px;
}
.short-content {
  max-height: 50px; /* Adjust this value based on your desired preview height */
  overflow: hidden;
}
#map {
  display: flex;
  justify-content: center;
  align-items: center;
}

#map button {
  display: inline-block;
}
.icon-circle {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 50%; /* Creates a circle */
  width: 40px; /* Adjust to the desired size */
  height: 40px; /* Adjust to the desired size */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); /* Optional: Add a shadow for a nicer look */
}
.icon-circle i {
  font-size: 25px; /* Adjust to the desired size */
}