<div class="container-fluid mt-3" *ngIf="this.searchResultMessageService.detailCard">
  <div id="details-div" class="mx-auto col-12 col-md-10 col-lg-6 mt-5 ">
    <div id="details-eventname-div">
      <div>
        <a (click)="back()" style=" cursor: pointer; color: white;font-size:large;text-decoration: underline;"><img
            src="./../../assets/left_arrow.png">back</a>
      </div>
      <div class="col-12" style="text-align: center;color: white; max-width: 100%; min-height: 100px; display: flex;
      align-items: center;
      justify-content: center;">
        <div>
          <h3>{{this.searchResultMessageService.detailCard.eventdetail.data.eventname}}</h3>
        </div>
      </div>
    </div>
    <div>
      <mat-tab-group mat-align-tabs="center" backgroundColor="primary">
        <mat-tab label="Events" class="my-mat-tab">
          <div style="min-height: 400px;">
            <div *ngIf="this.searchResultMessageService.detailCard.eventdetail.isContainData" class="row"
              style="min-height: 400px;margin-left: 0px;margin-right: 0px; padding-right:0px;padding-left: 0px;">
              <div id="eventinfo" class="col-12 col-lg-5 d-inline-block" style="text-align: center;">
                <div *ngIf="this.searchResultMessageService.detailCard.eventdetail.data.localDate">
                  <h5 style="color:#97fff9">Date</h5>
                  <p style="display:inline;color: white;">
                    {{this.searchResultMessageService.detailCard.eventdetail.data.localDate}} </p>
                  <p style="display:inline;color: white;"
                    *ngIf="this.searchResultMessageService.detailCard.eventdetail.data.localTime">
                    {{this.searchResultMessageService.detailCard.eventdetail.data.localTime}}</p>
                </div>
                <div *ngIf="this.searchResultMessageService.detailCard.eventdetail.data.artists">
                  <h5 style="color:#97fff9">Artist/Team</h5>
                  <p style="display:inline;color: white;">
                    {{this.searchResultMessageService.detailCard.eventdetail.data.artists }} </p>
                </div>
                <!-- *--------- -->
                <div *ngIf="this.searchResultMessageService.detailCard.eventdetail.data.venue">
                  <h5 style="color:#97fff9">Venue</h5>
                  <p style="display:inline;color: white;">
                    {{this.searchResultMessageService.detailCard.eventdetail.data.venue }} </p>
                </div>
                <div *ngIf="this.searchResultMessageService.detailCard.eventdetail.data.genres">
                  <h5 style="color:#97fff9">Genres</h5>
                  <p style="display:inline;color: white;">
                    {{this.searchResultMessageService.detailCard.eventdetail.data.genres }} </p>
                </div>
                <div *ngIf="this.searchResultMessageService.detailCard.eventdetail.data.priceRanges">
                  <h5 style="color:#97fff9">Price Ranges</h5>
                  <p style="display:inline;color: white;">
                    {{this.searchResultMessageService.detailCard.eventdetail.data.priceRanges }} </p>
                  <p style="display:inline;color: white;"
                    *ngIf="this.searchResultMessageService.detailCard.eventdetail.data.priceUnit">
                    {{this.searchResultMessageService.detailCard.eventdetail.data.priceUnit}}</p>
                </div>
                <div id="bodyLeftStatusCode"
                  *ngIf="this.searchResultMessageService.detailCard.eventdetail.data.ticketStatus">
                  <h5 style="color:#97fff9">Ticket Status</h5>

                  <div style="display:inline;color: white;background-color:green; " class="rounded"
                    *ngIf="this.searchResultMessageService.detailCard.eventdetail.data.ticketStatus.toLowerCase().includes('onsale')">
                    {{this.searchResultMessageService.detailCard.eventdetail.data.ticketStatus }} </div>
                  <div style="display:inline;color: white;background-color:red;" class="rounded"
                    *ngIf="this.searchResultMessageService.detailCard.eventdetail.data.ticketStatus.toLowerCase().includes('offsale')">
                    {{this.searchResultMessageService.detailCard.eventdetail.data.ticketStatus }} </div>

                  <div style="display:inline;color: white;background-color:black;" class="rounded"
                    *ngIf="this.searchResultMessageService.detailCard.eventdetail.data.ticketStatus.toLowerCase().includes('cancel')">
                    {{this.searchResultMessageService.detailCard.eventdetail.data.ticketStatus }} </div>
                  <div style="display:inline;color: white;background-color:Orange;" class="rounded"
                    *ngIf="this.searchResultMessageService.detailCard.eventdetail.data.ticketStatus.toLowerCase().includes('postpone')">
                    {{this.searchResultMessageService.detailCard.eventdetail.data.ticketStatus }} </div>
                  <div style="display:inline;color: white;background-color:Orange;" class="rounded"
                    *ngIf="this.searchResultMessageService.detailCard.eventdetail.data.ticketStatus.toLowerCase().includes('reschedul')">
                    {{this.searchResultMessageService.detailCard.eventdetail.data.ticketStatus }} </div>
                </div>
                <div *ngIf="this.searchResultMessageService.detailCard.eventdetail.data.eventurl">
                  <h5 style="color:#97fff9">Buy Ticket At:</h5>
                  <a [href]="this.searchResultMessageService.detailCard.eventdetail.data.eventurl" target="_blank">
                    Ticketmaster
                  </a>
                </div>
              </div>
              <div id="eventmap" class="col-12 col-lg-7 d-inline-block"
                style="display: flex;align-items: center;max-width: 100%; max-height: 100%;">
                <div *ngIf="this.searchResultMessageService.detailCard.eventdetail.data.imgurl"
                  style="display: flex;align-items: center;max-width: 100%; height: 100%;" class="text-center ">
                  <img class="mx-auto d-block col-8"
                    [src]="this.searchResultMessageService.detailCard.eventdetail.data.imgurl">

                </div>
              </div>
              <div id="twittersoonlink" class="col-12 mt-3 mb-2" style="text-align: center;color: white;">
                Share on:
                <!-- <a href="http://twitter.com/share?text=Check {{this.searchResultMessageService.detailCard.eventdetail.data.eventname}} on Ticketmaster.%0D%0A&url={{this.searchResultMessageService.detailCard.eventdetail.data.eventurl}}"
                  target="_blank"><i class="fa-brands fa-twitter fa-2xl" style="color: #09a6d2;"></i></a> -->
                <!-- <a target="_blank" style="margin-left: 10px;"
                  href="https://www.facebook.com/sharer/sharer.php?u={{this.searchResultMessageService.detailCard.eventdetail.data.eventurl}}&amp;src=sdkpreparse"><i
                    class="fa-brands fa-square-facebook fa-2xl" style="color: #1751d1;"></i></a> -->
                <a href="http://twitter.com/share?text=Check {{this.searchResultMessageService.detailCard.eventdetail.data.twitterurl}}&url={{this.searchResultMessageService.detailCard.eventdetail.data.eventurl}}"
                  target="_blank"><i class="fa-brands fa-twitter fa-2xl" style="color: #09a6d2;"></i></a>
                <a target="_blank" style="margin-left: 10px;"
                  href="https://www.facebook.com/sharer/sharer.php?u={{this.searchResultMessageService.detailCard.eventdetail.data.facebookurl}}"><i
                    class="fa-brands fa-square-facebook fa-2xl" style="color: #1751d1;"></i></a>
              </div>
            </div>
          </div>
        </mat-tab>
        <mat-tab label="Artist/Teams" class="my-mat-tab">
          <div style="min-height: 500px;">
            <div *ngIf="this.searchResultMessageService.detailCard.artistsdetail">
              <div id="carouselExample" class="carousel slide"
                *ngIf="this.searchResultMessageService.detailCard.artistsdetail.isContainData">
                <div id="carousel-inner" class="carousel-inner col-12 full-height">
                  <div
                    *ngFor="let artist of this.searchResultMessageService.detailCard.artistsdetail.data; let isFirst = first;"
                    [ngClass]="{'carousel-item': true, 'active': isFirst}">

                    <div style="margin: auto;" class="col-9">
                      <!-- <div class="d-flex flex-wrap mt-2">
                        <div class="col-12 col-md-3 d-flex flex-column align-items-center justify-content-center">
                          <img *ngIf="artist.images.length > 0" [src]="artist.images[0].url" alt="artist picture"
                            class="circular-image" style="min-height:150px">
                          <div *ngIf="!(artist.images.length > 0)" class="circular-image"
                            style="min-height:150px;color: gray;"></div>
                          <h5 class="mt-2" style="color:#97fff9">{{artist.name}}</h5>
                        </div>

                        <div class="col-12 col-md-3 d-flex flex-column align-items-center justify-content-center">
                          <h5 class="h-50" style="color:#97fff9;line-height:2rem;display: flex;
                          align-items: flex-end;">Popularity</h5>
                          <div class="d-flex justify-content-center position-relative h-50">
                            <mat-progress-spinner class="example-margin custom-spinner" color="warn" mode="determinate"
                              style="background-color: transparent;" [value]="artist.popularity">
                            </mat-progress-spinner>
                          </div>
                        </div>

                        <div class="col-12 col-md-3 d-flex flex-column align-items-center justify-content-center">
                          <h5 style="color:#97fff9;line-height:2rem;display: flex;
                          align-items: flex-end;" class="h-50">Followers</h5>
                          <div class="h-50">
                            <h6 style="color:white;" >{{artist.followers}}</h6>
                          </div>

                        </div>

                        <div class="col-12 col-md-3 d-flex flex-column align-items-center justify-content-center">
                          <h5 style="color:#97fff9;line-height:2rem;display: flex;
                          align-items: flex-end;" class="h-50">Spotify Link</h5>
                          <a [href]="artist.spotifyLink" style="cursor: pointer;" target="_blank" class="h-50"><i
                              class="fa-brands fa-spotify custom-spotify fa-3x"
                              style="color: #0f8015;height: 20px;width: 20px;"></i></a>
                        </div>
                      </div> -->

                      <div id="up-of-artist-carousel" class="row mt-5 mt-md-0 mt-lg-0"
                        style="min-height: 230px;margin-right: 0px;padding-right: 0;">
                        <div
                          class="col-12 col-md-3 col-lg-3 d-flex justify-content-center align-items-center text-center mt-2">
                          <div class="d-flex flex-column justify-content-center align-items-center">
                            <img *ngIf="artist.images.length > 0" [src]="artist.images[0].url" alt="artist picture"
                              class="circular-image" style=" min-height:150px">
                            <div *ngIf="!(artist.images.length > 0)" class="circular-image"
                              style="min-height:150px;color: gray;"></div>
                            <h5 class="mt-2" style="color:#97fff9">{{artist.name}}</h5>
                          </div>
                        </div>
                        <div
                          class="col-12 col-md-3 col-lg-3 d-flex justify-content-center align-items-center text-center mt-2">
                          <div class="d-flex flex-column justify-content-center align-items-center"
                            style="min-height: 100px;">
                            <h5 style="color:#97fff9; height:2rem;line-height:2rem;">Popularity</h5>
                            <div style=" height:2rem;line-height:2rem;margin-top: 10px;">
                              <div>
                                <mat-progress-spinner class="example-margin custom-spinner" color="warn"
                                  mode="determinate" style="background-color: transparent;" [value]="artist.popularity">
                                  <ng-template matProgressSpinnerContent>
                                    <div class="progress-value" style="color: white;">{{ artist.popularity }}</div>
                                  </ng-template>
                                </mat-progress-spinner>
                                <div style="position:relative; top: -40px; color: white;">
                                  {{ artist.popularity }}</div>
                              </div>
                            </div>

                          </div>
                        </div>
                        <div
                          class="col-12 col-md-3 col-lg-3 d-flex justify-content-center align-items-center text-center mt-2">
                          <div class="d-flex flex-column justify-content-center align-items-center"
                            style="min-height: 100px;">
                            <h5 style="color:#97fff9;height:2rem;line-height:2rem;">Followers</h5>
                            <div style="height:2rem;line-height:2rem;margin-top: 10px;">
                              <h6 style="color:white;">{{artist.followers}}</h6>
                            </div>
                          </div>
                        </div>
                        <div
                          class="col-12 col-md-3 col-lg-3 d-flex justify-content-center align-items-center text-center mt-2">
                          <div class="d-flex flex-column justify-content-center align-items-center"
                            style="min-height: 80px;">
                            <h5 style="color:#97fff9;height:2rem;line-height:2rem;" class="h-50">Spotify Link</h5>
                            <div style="height:2rem;line-height:2rem;margin-top: 10px;">
                              <a [href]="artist.spotifyLink" style="cursor: pointer;" target="_blank"><i
                                  class="fa-brands fa-spotify custom-spotify fa-3x"
                                  style="color: #0f8015;height: 20px;width: 20px;"></i></a>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div id="down-of-artist-carousel" class="row mt-5 mt-lg-0" style="margin-right: 0px;">
                        <div class="col-12" style="min-height: 30px;padding-right: 0;">
                          <h6 style="color:#97fff9;">Album featuring {{artist.name}}</h6>
                        </div>
                        <div class="col-12" style="min-height: 210px;">
                          <div class="row">
                            <div class="col-12 col-lg-4" *ngFor="let item of artist.album.items" style="padding-top: 15px;
                          padding-bottom: 15px;
                          /* padding-left: 20px; */
                          padding-right: 20px;">
                              <img col="col-12" style="width: 100%;" [src]="item.images[0].url">
                            </div>
                          </div>
                        </div>
                      </div>


                    </div>

                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample"
                  data-bs-slide="prev" *ngIf="this.searchResultMessageService.detailCard.artistsdetail.data.length > 1">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExample"
                  data-bs-slide="next" *ngIf="this.searchResultMessageService.detailCard.artistsdetail.data.length > 1">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
              <div id="carouselExample2" class="carousel slide d-flex justify-content-center align-items-center"
                style="min-height: 400px;"
                *ngIf="!this.searchResultMessageService.detailCard.artistsdetail.isContainData">
                <div class="rounded mt-6 col-10" style="background-color: white;color:red; text-align: center;"><b>No
                    music related artist details to show</b></div>
              </div>
            </div>
          </div>
        </mat-tab>

        <mat-tab label="Venue" class="my-mat-tab">
          <div *ngIf="this.searchResultMessageService.detailCard.venuedetail">
            <div *ngIf="this.searchResultMessageService.detailCard.venuedetail.isContainData" class="row"
              style="min-height: 400px;margin-left: 0px;margin-right: 0px; padding-right:0px;padding-left: 0px;">
              <div id="venueinfo" class="col-12 col-lg-5 d-inline-block" style="text-align: center;">
                <div *ngIf="this.searchResultMessageService.detailCard.venuedetail.data.name">
                  <h5 style="color:#97fff9">Name</h5>
                  <p style="display:inline;color: white;">
                    {{this.searchResultMessageService.detailCard.venuedetail.data.name }} </p>
                </div>
                <div
                  *ngIf="this.searchResultMessageService.detailCard.venuedetail.data.address || this.searchResultMessageService.detailCard.venuedetail.data.city">
                  <h5 style="color:#97fff9">Address</h5>
                  <div
                    *ngIf="this.searchResultMessageService.detailCard.venuedetail.data.address && this.searchResultMessageService.detailCard.venuedetail.data.city">
                    <p style="display:inline;color: white;"
                      *ngIf="this.searchResultMessageService.detailCard.venuedetail.data.address">
                      {{this.searchResultMessageService.detailCard.venuedetail.data.address }} </p>
                    <p style="display:inline;color: white;"
                      *ngIf="this.searchResultMessageService.detailCard.venuedetail.data.city">
                      , {{this.searchResultMessageService.detailCard.venuedetail.data.city }} </p>
                  </div>
                  <div
                    *ngIf="this.searchResultMessageService.detailCard.venuedetail.data.address && !this.searchResultMessageService.detailCard.venuedetail.data.city">
                    <p style="display:inline;color: white;"
                      *ngIf="this.searchResultMessageService.detailCard.venuedetail.data.address">
                      {{this.searchResultMessageService.detailCard.venuedetail.data.address }} </p>
                  </div>
                  <div
                    *ngIf="!this.searchResultMessageService.detailCard.venuedetail.data.address && this.searchResultMessageService.detailCard.venuedetail.data.city">
                    <p style="display:inline;color: white;"
                      *ngIf="this.searchResultMessageService.detailCard.venuedetail.data.city">
                      {{this.searchResultMessageService.detailCard.venuedetail.data.city }} </p>
                  </div>
                </div>
                <div *ngIf="this.searchResultMessageService.detailCard.venuedetail.data.phonenumber">
                  <h5 style="color:#97fff9">Phone Number</h5>
                  <p style="display:inline;color: white;">
                    {{this.searchResultMessageService.detailCard.venuedetail.data.phonenumber }} </p>
                </div>
              </div>
              <div id="vanuemoreinfo" class="col-12 col-lg-7 d-inline-block"
                style="display: flex;align-items: center;max-width: 100%; max-height: 100%;text-align: center;">
                <div *ngIf="this.searchResultMessageService.detailCard.venuedetail.data.openhours"
                  style="margin-top: 30px;">
                  <h5 style="color:#97fff9">Open Hours</h5>
                  <p style="color: white;margin: 0 0 0 0;"  [ngClass]="{'short-content': this.isOHCollapsed}">
                    {{this.searchResultMessageService.detailCard.venuedetail.data.openhours}}
                    <!-- {{(isOHCollapsed) ? (this.searchResultMessageService.detailCard.venuedetail.data.openhours | slice:0:100): this.searchResultMessageService.detailCard.venuedetail.data.openhours }} -->
                  </p>
                  <span class="d-inline-block" style="color: #09a6d2;text-decoration: underline;cursor: pointer;"
                    (click)="toggleOHCollapse()" *ngIf="this.isOHCollapsed">
                    Show more
                  </span>
                  <i class="fa-solid fa-angle-down d-inline-block" style="color:white;" *ngIf="this.isOHCollapsed"></i>
                  <!-- <span class="d-inline-block">^</span> -->
                  <span class="d-inline-block" style="color: #09a6d2;text-decoration: underline;cursor: pointer;"
                    (click)="toggleOHCollapse()" *ngIf="!this.isOHCollapsed">
                    Show less
                  </span>
                  <i class="fa-solid fa-angle-up d-inline-block" style="color:white;" *ngIf="!this.isOHCollapsed"></i>
                </div>

                <div *ngIf="this.searchResultMessageService.detailCard.venuedetail.data.generalrule"
                  style="margin-top: 30px;">
                  <h5 style="color:#97fff9">General Rule</h5>
                  <p style="color: white;margin: 0 0 0 0;" [ngClass]="{'short-content': this.isGRCollapsed}">
                    {{this.searchResultMessageService.detailCard.venuedetail.data.generalrule}}
                    <!-- {{(isGRCollapsed) ? (this.searchResultMessageService.detailCard.venuedetail.data.generalrule | slice:0:100): this.searchResultMessageService.detailCard.venuedetail.data.generalrule }} -->
                  </p>
                  <span class="d-inline-block" style="color: #09a6d2;text-decoration: underline;cursor: pointer;"
                    (click)="toggleGRCollapse()" *ngIf="this.isGRCollapsed">
                    Show more
                  </span>
                  <i class="fa-solid fa-angle-down d-inline-block" style="color:white;" *ngIf="this.isGRCollapsed"></i>
                  <!-- <span class="d-inline-block">^</span> -->
                  <span class="d-inline-block" style="color: #09a6d2;text-decoration: underline;cursor: pointer;"
                    (click)="toggleGRCollapse()" *ngIf="!this.isGRCollapsed">
                    Show less
                  </span>
                  <i class="fa-solid fa-angle-up d-inline-block" style="color:white;" *ngIf="!this.isGRCollapsed"></i>
                </div>

                <div *ngIf="this.searchResultMessageService.detailCard.venuedetail.data.childrule"
                  style="margin-top: 30px;">
                  <h5 style="color:#97fff9">Child Rule</h5>
                  <p style="color: white;margin: 0 0 0 0;" [ngClass]="{'short-content': this.isCRCollapsed}">
                    {{this.searchResultMessageService.detailCard.venuedetail.data.childrule}}
                    <!-- {{(isCRCollapsed) ? (this.searchResultMessageService.detailCard.venuedetail.data.childrule | slice:0:100): this.searchResultMessageService.detailCard.venuedetail.data.childrule }} -->
                  </p>
                  <span class="d-inline-block" style="color: #09a6d2;text-decoration: underline;cursor: pointer;"
                    (click)="toggleCRCollapse()" *ngIf="this.isCRCollapsed">
                    Show more
                  </span>
                  <i class="fa-solid fa-angle-down d-inline-block" style="color:white;" *ngIf="this.isCRCollapsed"></i>
                  <!-- <span class="d-inline-block">^</span> -->
                  <span class="d-inline-block" style="color: #09a6d2;text-decoration: underline;cursor: pointer;"
                    (click)="toggleCRCollapse()" *ngIf="!this.isCRCollapsed">
                    Show less
                  </span>
                  <i class="fa-solid fa-angle-up d-inline-block" style="color:white;" *ngIf="!this.isCRCollapsed"></i>
                </div>
              </div>
            </div>
          </div>
        </mat-tab>

      </mat-tab-group>
    </div>
  </div>
  <div style="height: 30px;">

  </div>
</div>
