<!-- <div class="container-fluid" *ngIf="this.searchResultMessageService.serachResult">
    <p>search-result works!</p>
</div> -->
<nav>
  <div class="container-fluid mt-3" style="text-align: right;">
    <button class="btn btn-outline-white-2 " routerLink="/search">Search</button>
    <button class="btn btn-outline-white " routerLink="/favorites">Favorites</button>
  </div>
</nav>
<div class="container-fluid mt-5 text-center align-middle ">
  <div id="resultFalse" style="background-color: white;" *ngIf="!this.isContainFavorites"
    class="row mx-auto col-12 col-md-10 col-lg-8 ml-2 mr-2"
    style="background-color: white;color:red; text-align: center;border-radius: 20px;">
    <b>No favorite events to show</b>
  </div>
  <div id="result" *ngIf="this.isContainFavorites"
    class="row mx-auto col-12 col-md-10 col-lg-8 ml-2 mr-2 table-responsive rounded">
    <div class="col-12" style="text-align: center;color: aquamarine;">
      <h5>List of your favorite events</h5>
    </div>
    <table class="table table-hover" style="background-color: white; margin-top: 10px; border-radius: 15px;">
      <thead>

        <tr>
          <th scope="col">#</th>
          <th scope="col">Date</th>
          <th scope="col">Event</th>
          <th scope="col">Category</th>
          <th scope="col">Venue</th>
          <th scope="col">Favorite</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let favorite of favorites;let i = index ">
          <th scope="row">{{i+1}}</th>
          <td>{{favorite.data.Date}}</td>
          <td>{{favorite.data.Event}}</td>
          <td>{{favorite.data.Category}}</td>
          <td>{{favorite.data.Venue}}</td>
          <td>
            <button (click)="this.removeEventInLocalStorage(favorite.key)"
              style="background-color: transparent; border-color: transparent;">
              <i class="fa-regular fa-trash-can" style="color: #121212;"></i></button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
