
body {
    background-image: url("/static/img/background.jpg");
    /* background-size: cover;
    background-repeat: no-repeat; */
    background-attachment: fixed;
    background-size: 100% 100%;
    background-position: center;
    /* background-size: cover;
    background-repeat: no-repeat; */
    /* background-size: cover; */

}

input {
    /* box-shadow: none; */
    outline-style: none;
    border: 1px solid #ccc;
}

* {
    margin: 0;
    padding: 0;
}

#search {
    width: 650px;
    /* height: 360px; */
    /* opacity: 0.8; */
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    /* background-color: #31312e; */
    background-color: rgba(58, 58, 54, 0.5);
    margin-top: 35px;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}




#search-header {
    text-align: center;
}

#search-header p {
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: lighter;
    font-size: 30px;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#search-form {
    margin-left: auto;
    margin-right: auto;
    width: 610px;
}

#search-form hr {
    color: #b6b6b3;
    background-color: #b6b6b3;
    height: 1px
}

.search-form-label {
    color: #7c9ba5;
    font-size: small;
}

#search-form-keyword {
    margin-top: 20px;

}

#search-form-keyword input {
    width: 600px;
    background-color: transparent;
    color: white;
    border-radius: 5px;
    height: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
    appearance: none;
    outline: none;
    padding-left: 10px;
    padding-right: -10px;
}

#search-form-distance {
    display: inline-block;
    width: 300px;
}


#search-form-distance input[type=number] {
    width: 180px;
    background-color: transparent;
    color: white;
    border-radius: 5px;
    height: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
    outline: none;
    padding-left: 10px;
    padding-right: 10px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: textfield;
}

#search-form-distance input[type=number]:hover {
    -moz-appearance: auto;
}


#search-form-category {
    display: inline-block;
    width: 300px;
    background: transparent;
}

#search-form-category input {
    display: inline-block;
    width: 300px;

}

#search-form-category select {
    border: 1px solid #ccc;
    width: 307px;

    
    /* background-color: gray; */
    
    /* background-color: rgba(128, 128, 128, 0.8); */
    background-color: rgba(58, 58, 54,0.7);
    /* -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px); */
    /* opacity: 0.5; */
    border-radius: 5px;
    height: 33px;
    margin-top: 5px;
    margin-bottom: 5px;
    /* appearance: none; */
    /* outline: none; */
    padding-left: 10px;
    padding-right: -10px;
}

/* #search-form-category select>option {
    background-color: rgba(58, 58, 54, 0.8);
} */


#search-form-location input:not(#autoFindLocationCheckBox) {
    width: 600px;
    background-color: transparent;
    color: white;
    border-radius: 5px;
    height: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
    appearance: none;
    outline: none;
    padding-left: 10px;
    padding-right: -10px;
}

#search-form>#searchButton {
    background-color: #fc6c00;
    color: white;
    width: 110px;
    height: 40px;
    font-weight: lighter;
    font-size: 100%;
    border: none;
    box-shadow: 0px 3px #f14b03;
    border-radius: 8px;
    margin-right: 3px;
    margin-bottom: 24px;
}

#search-form>#clearButton {
    margin-top: 20px;
    box-shadow: 0px 3px #344970;
    background-color: #4d6ea8;
    color: white;
    width: 100px;
    height: 40px;
    font-weight: lighter;
    font-size: 100%;
    border: none;
    border-radius: 8px;
    margin-right: 3px;
    margin-bottom: 24px;
}

#search-form button:hover {
    opacity: 0.8;
}

#search-response {
    width: 1300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 35px;
}

#search-response-table {

    display: none;
    border-color: white;
    width: 100%;
    border-collapse: collapse;
}

/* table {
    table-layout: fixed;
    width: 100%;
}

td {
    word-wrap: break-word;
    width: 25%;
} */

#search-response-table td {

    font-size: 13px;
    border: 1px solid black;
    /* padding-top: 8px;
    padding-bottom: 8px; */
    padding: 8px;
    /* padding-left: 40px;
    padding-right: 40px; */
    /* width: 240px; */
    text-align: center;
    background-color: #f2f2f2;
    z-index: auto;
}

#search-response-table th {

    border: 1px solid black;
    padding: 8px;
    /* padding-left: 40px;
    padding-right: 40px; */
    /* width: 240px; */
    text-align: center;
    background-color: #f2f2f2;
    box-shadow: 0px 2px 8px #9e9e9e;
}


#search-response-table img {
    width: 80px;
    height: 50px;
}


#event-detail {
    width: 1100px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;

    background-color: rgba(128, 128, 128, 0.3);
    /* margin-top: 30px; */
    height: auto;
    display: none;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}

#detail-head-div {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 1100px;
    color: white;
    min-height: 40px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
    float: left;
}

#detail-body-div {
    width: 1100px;
    display: flex;
    flex-wrap: nowrap;
    min-height: 429px;
    /* float: left; */
}

#detail-body-left-div {
    color: #eee;
    width: 40%;
    /* background: red; */
    /* float: left; */
    min-height: 429px;
}

#detail-body-right-div {
    width: 60%;
    /* background: blue; */
    /* float: left; */
    height: 429px;
    text-align: center;
}

.bodyLeftDiv {
    /* float:left; */
    /* margin-left: 50px; */
    margin-bottom: 10px;
}

.bodyLeftDiv h3 {
    margin-bottom: 5px;
    margin-top: 15px;
}

#bodyLeftStatusCode {
    /* background-color: #f14b03; */
    border-radius: 6px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 1px;
    padding-bottom: 1px;
}

#show-venue-detail {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    height: 50px;
    color: #eee;
    text-align: center;
    display: none;
    font-size: 20px;
}

#venue-arrow {
    margin-left: auto;
    margin-right: auto;
    color: #eee;
    border: solid;
    height: 30px;
    width: 30px;
    transform: rotate(-0.125turn);
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 1px;
    border-left-width: 1px;
}

#venue-arrow:hover {
    cursor: pointer;
    border-bottom-width: 2px;
    border-left-width: 2px;
}

#venue-detail {
    width: 1100px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    background-color: white;
    margin-top: 30px;
    height: auto;
    display: none;
    padding-top: 15px;
    padding-bottom: 15px;
}

#inner-venue-detail {
    width: 1070px;
    margin-left: auto;
    margin-right: auto;

    border-radius: 15px;
    background-color: #fbfbfb;
    height: auto;
    /* display: none; */
    border: solid 1px;
}

#inner-venue-detail-head {
    /* background-color: pink; */
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#inner-venue-detail-head div {
    font-size: 30px;
    padding-left: 10px;
    padding-right: 10px;
    border: solid;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 1px;
    border-left-width: 0px;
}

#inner-venue-detail-logo {
    /* background-color: green; */
    height: 96px;
    /* display: flex; */
    align-items: center;
    justify-content: center;
}

#inner-venue-detail-body {
    padding-top: 20px;
    padding-bottom: 20px;
    /* background-color: paleturquoise; */
    height: 120px;
}

#inner-venue-detail-body-left {
    border: solid;
    width: 535px;
    border-top-width: 0px;
    border-right-width: 1px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    height: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    float: left;
}

#inner-venue-detail-body-right {
    padding-top: 12px;
    /* border: solid; */
    height: 100%;
    width: 534px;
    /* align-items: center; */
    justify-content: center;
    display: flex;
    float: left;
}