.form-label {
    margin-bottom:0px;
}

#search {
    /* width: 650px; */
    /* height: 360px; */
    /* opacity: 0.8; */
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    /* background-color: #31312e; */
    background-color: rgba(58, 58, 54, 0.5);
    margin-top: 35px;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}

#search-header {
    text-align: center;
}

#search-header p {
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: lighter;
    font-size: 30px;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#search-form hr {
    color: white;
    background-color: white;
    height: 2px
}
.search-form-label {
    color: #7c9ba5;
    font-size: small;
}
#search-form-keyword {
    margin-top: 20px;

}
#search-form-keyword input {
    /* width: 600px; */
    /* background-color: transparent; */
    /* color: white; */
    border-radius: 5px;
    /* height: 30px; */
    margin-top: 5px;
    margin-bottom: 5px;
    appearance: none;
    outline: none;
    padding-left: 10px;
    padding-right: -10px;
}
#search-form-distance {
    display: inline-block;
    /* width: 300px; */
    margin-right: 50px;
}


#search-form-distance input[type=number] {
    /* width: 180px; */
    /* background-color: transparent; */
    /* color: white; */
    border-radius: 5px;
    /* height: 30px; */
    margin-top: 5px;
    margin-bottom: 5px;
    outline: none;
    padding-left: 10px;
    padding-right: 10px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: textfield;
    
}
#search-form-distance input[type=number]:hover {
    -moz-appearance: auto;
}
#search-form-category {
    display: inline-block;
    /* width: 300px; */
    /* background: transparent; */
}

#search-form-category input {
    display: inline-block;
    /* width: 300px; */

}

#search-form-category select {
    border: 1px solid #ccc;
    /* width: 307px; */

    
    /* background-color: gray; */
    
    /* background-color: rgba(128, 128, 128, 0.8); */
    /* background-color: rgba(58, 58, 54,0.7); */
    /* -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px); */
    /* opacity: 0.5; */
    border-radius: 5px;
    /* height: 33px; */
    margin-top: 5px;
    margin-bottom: 5px;
    /* appearance: none; */
    /* outline: none; */
    padding-left: 10px;
    padding-right: -10px;
}

#search-form-location input {
    /* background-color: transparent; */
    /* color: white; */

    margin-top: 5px;
    margin-bottom: 5px;
}