<!-- <div id="search" class="container col-11 col-lg-6">
  <div id="search-header" class="row mt-3">
    <p>Events Search</p>
  </div>
</div> -->


<nav>
  <div class="container-fluid mt-3" style="text-align: right;">
    <button class="btn btn-outline-white " routerLink="/search">Search</button>
    <button class="btn btn-outline-white-2 " routerLink="/favorites">Favorites</button>
  </div>
</nav>

<div class="container-fluid mt-5">
  <div id="search" class="row mx-auto col-12 col-md-10 col-lg-5 ml-2 mr-2">
    <div id="search-header" class="mt-3">
      <span>Events Search</span>
    </div>

    <!-- Form -->
    <form #myForm="ngForm" ngNativeValidate (ngSubmit)="submitForm()">
      <div id="search-form">
        <hr>
        <div id="search-form-keyword" class="form-group col-12 mt-3 required">
          <label for="keyword" class="form-label search-form-label">Keyword</label><span style="color:red;">*</span>
          <br />
          <!-- <mat-progress-spinner class="custom-spinner2" color="accent" mode="indeterminate"
                style="background-color: transparent;" >
              </mat-progress-spinner> -->
          <input matInput type="text" id="keyword" name="keyword" [(ngModel)]="keyword"
            class="form-control  mx-auto mt-1" [(ngModel)]="keyword" [matAutocomplete]="auto"
            [formControl]="suggestCtrl" required>
          <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onSelected()" [displayWith]="displayWith">
            <mat-option *ngIf="isLoading" class="is-loading">
              <mat-progress-spinner class="custom-spinner2" color="accent" mode="indeterminate"
                style="background-color: transparent;" >
              </mat-progress-spinner>
              <!-- <mat-spinner class="custom-spinner" style="background-color: transparent;"></mat-spinner> -->
            </mat-option>
            <ng-container *ngIf="!isLoading">
              <mat-option *ngFor="let suggest of filteredSuggestes" [value]="suggest.name">
                <span>{{suggest.name}}</span>
              </mat-option>
            </ng-container>
          </mat-autocomplete>
          <!-- <mat-form-field  class=" example-full-width" class="col-12" >
          </mat-form-field> -->
        </div>


        <div id="search-form-distance" class="form-group col-12 col-md-5 col-lg-5 mt-3 d-inline-block">
          <label for="distance" class="form-label search-form-label">Distance (miles)</label>
          <input type="number" class="form-control mt-1" id="distance" name="distance" [(ngModel)]="distance"
            placeholder="10" min="0" max="19999">
        </div>

        <div id="search-form-category" class="form-group col-12 col-md-5 col-lg-5 mt-3 d-inline-block  required">
          <div class="mx-lg-3  mx-md-3">
            <label for="category" class="search-form-label form-label">Category</label><span style="color:red;">*</span>
            <br />
            <select id="category" name="category" [(ngModel)]="category"
              class="form-select mt-1 d-inline-block ml-2 required">
              <option *ngFor="let c of availableCategory" [value]="c">
                {{c}}
            </select>
          </div>

        </div>

        <div id="search-form-location" class="form-group col-12 mt-3 required">
          <label for="location" class="search-form-label form-label">Location</label><span style="color:red;">*</span>
          <input type="text" id="location" name="location" [(ngModel)]="location" class="form-control mt-1"
            [disabled]="isAutoFindLocation" required>
          <div class="mt-4">
            <input id="autoFindLocationCheckBox" class="form-check-input" type="checkbox" value=""
              [checked]="isAutoFindLocation" (change)="locationCheckBoxChange()">
            <span class="d-inline-block" style="margin-left: 10px;color: #7c9ba5;">Auto-detect your location</span>
          </div>
        </div>
      </div>



      <div class="mt-3 text-center ">
        <button type="submit" id="searchButton"
          class="btn btn-danger d-inline-block col-4 col-sm-4 col-md-4 col-lg-2 btn-sm"
          style="font-size:1rem;">SUBMIT</button>
        <button id="clearButton" type="button"
          class="btn btn-primary d-inline-block col-4 col-sm-4 col-md-4 col-lg-2 btn-sm"
          style="font-size:1rem;margin-left: 20px;" (click)="clear()">CLEAR
        </button>
      </div>


      <div class="mt-5 col-12">

      </div>

      <!-- <button type="submit" class="btn btn-primary btn-customized mt-4">
          Login
        </button> -->
    </form>
    <!-- Form end -->
  </div>
</div>

<app-search-result id="app-search-result"></app-search-result>
<app-detail id="app-detail"></app-detail>
<div class="mt-5 col-12">

</div>
